.container {
  width: 1440px;
  height: 1648px;
  position: relative;
  background: #F0F3F7;
}

.footer {
  width: 1440px;
  height: 382px;
  position: absolute;
  left: 0;
  top: 1266px;
  background: #1C464F;
}

.footer-text {
  width: 282px;
  height: 17px;
  position: absolute;
  left: 579px;
  top: 345px;
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.footer-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 2px;
}

.footer-icon-inner {
  width: 13.44px;
  height: 13.44px;
  position: absolute;
  left: 0.78px;
  top: 0.78px;
  background: white;
}

.footer-icon-inner-small {
  width: 4.69px;
  height: 5.94px;
  position: absolute;
  left: 4.53px;
  top: 4.53px;
  background: white;
}

.footer-divider {
  width: 1200px;
  height: 0.91px;
  position: absolute;
  left: 120px;
  top: 330px;
  border: 1px white solid;
}

.social-media {
  width: 98px;
  height: 126px;
  position: absolute;
  left: 1122px;
  top: 165px;
}

.social-media-text {
  position: absolute;
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.social-media-icon {
  width: 24px;
  height: 24px;
  position: absolute;
}

.social-media-icon-background {
  width: 24px;
  height: 24px;
  position: absolute;
  background: white;
}

.social-media-icon-twitter {
  background: #1D9BF0;
}

.social-media-icon-instagram {
  background: radial-gradient(50.45% 54.24% at 106.23% 76.35%, #FFDD55 0%, #FFDD55 10%, #FF543E 50%, #C837AB 100%);
}

.social-media-icon-facebook {
  background: #1877F2;
}

.social-media-icon-content {
  width: 16.88px;
  height: 13.71px;
  position: absolute;
  left: 3.56px;
  top: 5.16px;
  background: white;
}

.social-media-title {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 700;
  word-wrap: break-word;
}

.contact {
  width: 171px;
  height: 85px;
  position: absolute;
  left: 1122px;
  top: 45px;
}

.contact-title {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 700;
  word-wrap: break-word;
}

.contact-content {
  position: absolute;
  left: 0;
  top: 34px;
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.main-content {
  height: 1026px;
  left: 355px;
  top: 180px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-card {
  width: 1009px;
  height: 342px;
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-card-header {
  width: 170px;
  height: 44px;
  padding: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.product-card-title {
  color: black;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

.product-card-image {
  width: 156.59px;
  height: 132px;
  position: absolute;
  left: 77.66px;
  top: 55px;
  background: linear-gradient(0deg, #777E90 0%, #777E90 100%);
  border-radius: 10px;
}

.product-card-description {
  width: 410px;
  height: 41px;
  padding: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.product-card-description-text {
  color: black;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}

.product-card-price {
  width: 127px;
  height: 44px;
  padding: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.product-card-price-text {
  color: black;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.product-card-status {
  width: 83px;
  height: 44px;
  padding: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.product-card-status-text {
  color: #5DAA80;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.product-card-actions {
  width: 500px;
  height: 30px;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
}

.product-card-action {
  width: 160px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.product-card-action-primary {
  background: #5DAA80;
  border: 1px white solid;
}

.product-card-action-secondary {
  border: 1px #5DAA80 solid;
}

.product-card-action-text {
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
}

.product-card-action-secondary-text {
  color: #5DAA80;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
}

.header {
  width: 1440px;
  height: 84px;
  position: absolute;
  left: 0;
  top: 0;
  background: #1C464F;
}

.header-content {
  width: 1440px;
  height: 84px;
  position: absolute;
}

.header-text {
  position: absolute;
  left: 106px;
  top: 19px;
  color: white;
  font-size: 30px;
  font-family: 'Righteous';
  font-weight: 400;
  line-height: 45px;
  word-wrap: break-word;
}

.header-logo {
  width: 107px;
  height: 83px;
  position: absolute;
  left: 18px;
  top: 0;
}

.header-search {
  width: 595px;
  height: 45.50px;
  position: absolute;
  left: 365px;
  top: 19px;
}

.header-search-background {
  width: 595px;
  height: 41px;
  position: absolute;
  left: 0;
  top: 2px;
  background: #D9D9D9;
  border-radius: 10px;
}

.header-search-icon {
  width: 45.50px;
  height: 45.50px;
  padding: 10px;
  position: absolute;
  left: 4px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header-search-icon-inner {
  width: 25.50px;
  height: 25.50px;
  border: 1.50px black solid;
}

.header-search-text {
  width: 65px;
  position: absolute;
  left: 52px;
  top: 12px;
  color: black;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}

.header-profile {
  height: 55px;
  padding: 10px;
  position: absolute;
  left: 1224px;
  top: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
}

.header-profile-divider {
  width: 35px;
  height: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 1px white solid;
}

.header-profile-image {
  width: 34px;
  height: 34px;
  border-radius: 9999px;
}

.header-profile-text {
  color: white;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.sidebar {
  width: 288px;
  height: 485px;
  position: absolute;
  left: 40px;
  top: 111px;
  background: #E2E8F0;
  border-radius: 20px;
}

.sidebar-profile {
  width: 184.06px;
  height: 62px;
  position: absolute;
  left: 35.31px;
  top: 34px;
}

.sidebar-profile-image {
  width: 68.49px;
  height: 62px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 9999px;
}

.sidebar-profile-text {
  width: 102.73px;
  position: absolute;
  left: 81.33px;
  top: 21px;
  color: black;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 700;
  line-height: 21px;
  word-wrap: break-word;
}

.sidebar-menu {
  width: 140px;
  height: 306px;
  position: absolute;
  left: 92px;
  top: 251px;
}

.sidebar-menu-item {
  width: 140px;
  height: 24px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.sidebar-menu-item-icon {
  width: 24px;
  height: 24px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidebar-menu-item-icon-inner {
  width: 20px;
  height: 20px;
  background: black;
}

.sidebar-menu-item-text {
  color: black;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 700;
  line-height: 21px;
  word-wrap: break-word;
}

.sidebar-menu-item-active {
  color: #1C464F;
}

.sidebar-divider {
  height: 20px;
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.sidebar-divider-line {
  width: 288px;
  height: 0;
  opacity: 0.20;
  border-radius: 20px;
  border: 1px black solid;
}