.container {
    width: 1440px;
    height: 1024px;
    position: relative;
    background: #F5F5F5;
  }
  
  .footer {
    width: 352px;
    height: 17px;
    position: absolute;
    left: 544px;
    top: 977px;
  }
  
  .footer-text {
    position: absolute;
    left: 17px;
    top: 0;
    color: black;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .footer-text-bold {
    font-weight: 700;
  }
  
  .footer-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 2px;
  }
  
  .footer-icon-inner {
    width: 13.44px;
    height: 13.44px;
    position: absolute;
    left: 0.78px;
    top: 0.78px;
    background: black;
  }
  
  .footer-icon-inner-small {
    width: 4.69px;
    height: 5.94px;
    position: absolute;
    left: 4.53px;
    top: 4.53px;
    background: black;
  }
  
  .main-content {
    width: 1250px;
    height: 700px;
    position: absolute;
    left: 95px;
    top: 162px;
  }
  
  .main-content-background {
    width: 1250px;
    height: 700px;
    position: absolute;
    background: #E2E8F0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .form-container {
    width: 585px;
    height: 658px;
    position: absolute;
    left: 634px;
    top: 28px;
  }
  
  .form-background {
    width: 585px;
    height: 650px;
    position: absolute;
    background: #E2E8F0;
    border-radius: 10px;
  }
  
  .button {
    width: 87px;
    height: 56px;
    padding: 16px 24px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 4px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-google {
    left: 304px;
    top: 602px;
  }
  
  .button-facebook {
    width: 88px;
    left: 192px;
    top: 602px;
  }
  
  .button-icon {
    width: 25px;
    height: 25px;
    position: relative;
  }
  
  .button-icon-google {
    width: 20.83px;
    height: 20.83px;
    position: absolute;
    left: 2.08px;
    top: 2.08px;
    background: #FFC107;
  }
  
  .button-icon-google-inner {
    width: 16.31px;
    height: 8.08px;
    position: absolute;
    left: 3.28px;
    top: 2.08px;
    background: #FF3D00;
  }
  
  .button-icon-google-inner-small {
    width: 16.26px;
    height: 8.31px;
    position: absolute;
    left: 3.23px;
    top: 14.61px;
    background: #4CAF50;
  }
  
  .button-icon-google-inner-smallest {
    width: 10.42px;
    height: 9.81px;
    position: absolute;
    left: 12.50px;
    top: 10.42px;
    background: #1976D2;
  }
  
  .button-icon-facebook {
    width: 25px;
    height: 24.85px;
    position: absolute;
    background: #1877F2;
  }
  
  .button-icon-facebook-inner {
    width: 10.69px;
    height: 20.12px;
    position: absolute;
    left: 7.37px;
    top: 4.88px;
    background: white;
  }
  
  .divider {
    width: 557px;
    height: 21px;
    position: absolute;
    left: 14px;
    top: 561px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .divider-line {
    flex: 1 1 0;
    height: 0.50px;
    opacity: 0.80;
    background: black;
  }
  
  .divider-text {
    color: black;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 300;
    word-wrap: break-word;
  }
  
  .login-text {
    position: absolute;
    left: 189px;
    top: 524px;
    color: black;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .login-text-bold {
    font-weight: 700;
  }
  
  .register-button {
    width: 470px;
    height: 45px;
    position: absolute;
    left: 57px;
    top: 469px;
    background: #1C464F;
    border-radius: 10px;
  }
  
  .register-button-text {
    position: absolute;
    left: 214px;
    top: 14px;
    color: white;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 700;
    word-wrap: break-word;
  }

  .input-field {
    width: 470px;
    height: 61px;
    position: absolute;
  }
  
  .input-background {
    width: 470px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 21px;
    background: white;
    border-radius: 10px;
    border: 0.50px solid black;
  }
  
  .input-label {
    position: absolute;
    left: 9px;
    top: 0;
    opacity: 0.75;
    color: black;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .input-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 430px;
    top: 29px;
  }
  
  .input-icon-inner {
    width: 22px;
    height: 11.50px;
    position: absolute;
    left: 1px;
    top: 6px;
    background: #1C274C;
  }
  

  .description {
    position: absolute;
    left: 64px;
    top: 59px;
    color: black;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .title {
    position: absolute;
    left: 98px;
    top: 6px;
    color: black;
    font-size: 30px;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 45px;
    word-wrap: break-word;
  }
  
  .image {
    width: 585px;
    height: 650px;
    position: absolute;
    left: 30px;
    top: 25px;
    background: linear-gradient(0deg, #777E90 0%, #777E90 100%);
    border-radius: 10px;
  }
  
  .header {
    width: 1440px;
    height: 84px;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .header-background {
    width: 1440px;
    height: 84px;
    position: absolute;
    background: #1C464F;
  }
  
  .header-text {
    width: 313px;
    position: absolute;
    left: 40px;
    top: 19px;
    color: white;
    font-size: 30px;
    font-family: 'Righteous';
    font-weight: 400;
    line-height: 45px;
    word-wrap: break-word;
  }
  
  .help {
    padding: 10px;
    position: absolute;
    left: 1206px;
    top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .help-text {
    color: white;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
  }